.dm-icon {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  gap: 1rem;
  font-size: 1rem;
  color: #949ba4;
  text-decoration: none;
  flex-shrink: 0;
}

.dm-icon:hover {
  background-color: #404249;
  cursor: pointer;
  transition: all ease 200ms;
}
