.side-a {
    background-color: #1E1F22;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-container {
    background-color: #313338;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 2rem;
    border: none
}

.logo {
    height: 75%;
}

.separator {
    background-color: #2B2D31;
    margin-top: 1rem;
    height: .15rem;
    width: 50%;
}

.logout-icon-container {
    background-color: #313338;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0 2rem;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 2rem;
    border: none
}




.usericon-container, .plusicon-container {
    background-color: #313338;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 2rem;
    border: none
}

.logo-container:hover{
    background-color: #5865F2;
    border-radius: .7rem;
}

.usericon-container:hover, .plusicon-container:hover, .logout-icon-container:hover{
    background-color: #23A559;
    border-radius: .7rem;
    cursor: pointer;
}